@charset "UTF-8";
$primaryColorRecharts: #fff;
.line-chart-wrapper {
  //height: 500px;
  width: 100%;
}

.recharts-wrapper {
  .recharts-yAxis .recharts-cartesian-axis-tick text {
    fill: $primaryColorRecharts;
  }
  .recharts-xAxis .recharts-cartesian-axis-tick text {
    fill: $primaryColorRecharts;
  }
  .recharts-cartesian-axis-line {
    stroke: $primaryColorRecharts;
  }
  .recharts-text.recharts-label {
    fill: $primaryColorRecharts;
  }
  .recharts-cartesian-axis-tick {
    font-size: 0.95rem;
    font-family: $family-sans-serif;
  }
  .recharts-tooltip-label {
    color: $grey-darker;
  }
  .recharts-responsive-container {
    min-width: 300px;
    max-height: 400px;
  }
  .recharts-cartesian-axis-tick-line {
    stroke: $primaryColorRecharts;
  }
}
