@charset "UTF-8";

.line-chart-wrapper {
  height: 600px;
  width: 100%;
}

.recharts-wrapper {
  .recharts-yAxis .recharts-cartesian-axis-tick text {
    fill: white;
  }
  .recharts-xAxis .recharts-cartesian-axis-tick text {
    fill: white;
  }
  .recharts-cartesian-axis-line {
    stroke: white;
  }
  .recharts-text.recharts-label {
    fill: white;
  }
  .recharts-cartesian-axis-tick {
    font-size: 0.95rem;
    font-family: $family-sans-serif;
  }
  .recharts-tooltip-label {
    color: $grey-darker;
  }
}
