@charset "UTF-8";

@import 'global.scss';
@import 'footer.scss';
@import 'charts.scss';
@import 'custom-bulma.scss';

.filter-wrapper {
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
}
